@import 'base/_local-reset.scss';
@import 'base/_typography.scss';
@import 'layout/navigation.scss';

header {
  position: relative;
}

.navigation {
  background-color: rgb(233, 131, 131);
  position: absolute;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0.5em 1.5em;
  &__hamburger {
    position: relative;
    background-color: transparent;
    width: 2.5em;
    height: 1.5em;
    cursor: pointer;
    span {
      width: 100%;
      height: 0.25em;
      background-color: black;
      position: absolute;
    }
    :first-child {
      top: 0;
      transition: top ease-in-out 0.2s 0.4s, transform ease-in-out 0.2s;
    }
    :nth-child(2n) {
      top: 50%;
      transform: translateY(-50%);
      transition: visibility ease-in-out 0.1s 0.2s;
    }
    :last-child {
      bottom: 0;
      transition: bottom ease-in-out 0.2s 0.4s, transform ease-in-out 0.2s;
    }
    &.open {
      :first-child {
        top: 50%;
        transform: translateY(-50%) rotate(45deg);
        transition: top ease-in-out 0.2s, transform ease-in-out 0.2s 0.4s;
      }
      :nth-child(2n) {
        visibility: hidden;
        transition: visibility ease-in-out 0.4s;
      }
      :last-child {
        bottom: 50%;
        transform: translateY(50%) rotate(-45deg);
        transition: bottom ease-in-out 0.2s, transform ease-in-out 0.2s 0.4s;
      }
    }
  }
  &__list {
    display: none;
  }
}
