@import '../base/_variables.scss';
@import '../base/_mixins.scss';

$hamburger-menu-size: 4em;
$hamburger-menu-border-radius: 0.5em;
$hamburger-menu-bg-color: #0000007a;
$hamburger-menu-line-height: 2px;
$hover-line-height: $hamburger-menu-line-height;
$content-bg-color: darken($basic-peachy, 10%);
$main-color: #fefefe;
$hover-color: $basic-yellow;
$anim-duration: 0.4s;

a,
a:visited,
a:hover,
a:active {
  color: inherit;
  text-decoration: none;
}

.outer-menu {
  position: fixed;
  top: 5vh;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;

  .checkbox-toggle {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 2;
    cursor: pointer;
    width: $hamburger-menu-size;
    height: $hamburger-menu-size;
    opacity: 0;

    &:checked {
      & + .hamburger {
        > div {
          transform: rotate(135deg);

          &:before,
          &:after {
            top: 0;
            transform: rotate(90deg);
          }

          &:after {
            opacity: 0;
          }
        }
      }

      & ~ .menu {
        pointer-events: auto;
        visibility: visible;

        > div {
          transform: scale(1);
          transition-duration: 0.75s;

          > div {
            opacity: 1;
            transition: opacity $anim-duration ease $anim-duration;
          }
        }
      }
    }

    &:checked:hover + .hamburger > div {
      transform: rotate(225deg);
    }
  }

  .hamburger {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 1;
    width: $hamburger-menu-size;
    height: $hamburger-menu-size;
    padding: 0.5em 1em;
    background: $hamburger-menu-bg-color;
    border-radius: $hamburger-menu-border-radius 0 0
      $hamburger-menu-border-radius;
    cursor: pointer;
    @include flex-center;

    > div {
      position: relative;
      width: 100%;
      height: $hamburger-menu-line-height;
      background: $main-color;
      transition: all $anim-duration ease;

      &:before,
      &:after {
        content: '';
        position: absolute;
        z-index: 1;
        top: -$hamburger-menu-size / 6;
        left: 0;
        width: 100%;
        height: $hamburger-menu-line-height;
        background: inherit;
        transition: all $anim-duration ease;
      }

      &:after {
        top: $hamburger-menu-size / 6;
      }
    }
  }

  .menu {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    visibility: hidden;
    overflow: hidden;
    @include flex-center;

    > div {
      width: 300vw;
      height: 300vw;
      color: $main-color;
      background: $content-bg-color;
      border-radius: 50%;
      transition: all $anim-duration ease;
      flex: none;
      transform: scale(0);
      overflow: hidden;
      @include flex-center;

      > div {
        text-align: center;
        max-width: 90vw;
        max-height: 100vh;
        opacity: 0;
        transition: opacity $anim-duration ease;
        overflow-y: auto;
        flex: none;
        @include flex-center;

        > ul {
          list-style: none;
          padding: 0 1em;
          margin: 0;
          display: block;
          max-height: 100vh;

          > li {
            padding: 0.5em 1em;
            margin: 1em;
            font-size: 24px;
            display: block;

            > a {
              position: relative;
              display: inline;
              cursor: pointer;
              transition: color $anim-duration ease;

              &:hover {
                color: $hover-color;

                &:after {
                  width: 100%;
                }
              }

              &:after {
                content: '';
                position: absolute;
                z-index: 1;
                bottom: -0.15em;
                left: 0;
                width: 0;
                height: $hover-line-height;
                background: $hover-color;
                transition: width $anim-duration ease;
              }
            }
          }
        }
      }
    }
  }
}
