@mixin head-loading-bar($width, $back-color) {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  width: $width;
  height: 2px;
  background-color: $back-color;
}

@mixin article-title {
  text-align: center;
  position: relative;
  margin-bottom: 3em;
  &::before {
    content: '';
    position: absolute;
    bottom: -1em;
    left: 50%;
    transform: translateX(-50%);
    width: 2.5em;
    height: 0.1em;
    background-color: $basic-peachy;
  }
  h4 {
    margin-bottom: 0.5em;
  }
}

@mixin article-description {
  padding: 0 0.5em;
  margin-bottom: 3em;
  line-height: 1.5em;
  text-align: center;
}

@mixin img-overlay {
  transform: translate(-0.5em, -0.5em);
  box-shadow: 0.5em 0.5em 0px 0px $minty;
  &::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(
      rgba(233, 131, 131, 0.8),
      rgba(242, 218, 138, 0.8)
    );
    z-index: 9999;
  }
}

@mixin img-info-position {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: none;
}

@mixin arrow-position($rotate) {
  position: relative;
  justify-self: center;
  width: 2.5em;
  height: 100%;
  background-color: transparent;
  border: none;
  svg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate($rotate);
    width: 1.5em;
    height: 100%;
  }
}
