@import '_variables.scss';

$primary-font-family: 'Roboto', sans-serif;
$h1-3-font-family: 'Montserrat', sans-serif;
$h2-4-font-family: 'Kaushan Script', cursive;

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  font-size: 62.5%;
  overflow-x: hidden;
}

body {
  font-family: $primary-font-family;
  font-size: 1.6rem;
  overflow-x: hidden;
  position: relative;
}

h1,
h3,
span {
  font-family: $h1-3-font-family;
}

h2,
h4 {
  font-family: $h2-4-font-family;
}

h1 {
  position: relative;
  font-size: 5rem;
  line-height: 4.6rem;
  text-align: center;
  padding-bottom: 0.8em;
  @media (min-width: 500px) {
    font-size: 7.5rem;
    line-height: 7rem;
  }
  @media (max-width: 900px) and (orientation: landscape) {
    font-size: 5rem;
    line-height: 4.6rem;
    padding-bottom: 0;
  }
  @media (min-width: 901px) {
    font-size: 10rem;
    line-height: 9.5rem;
  }
  @media (min-width: 1199px) {
    font-size: 12.5rem;
    line-height: 12rem;
  }
}

h1::before {
  content: '';
  position: absolute;
  bottom: 1.5rem;
  left: 50%;
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
  width: 6rem;
  height: 0.2rem;
  background-color: $basic-white;
  @media (max-width: 900px) and (orientation: landscape) {
    bottom: -1rem;
  }
  @media (min-width: 1199px) {
    bottom: 2.5rem;
  }
  @media (min-width: 1449px) {
    bottom: 3.5rem;
  }
}

h2 {
  font-size: 2.4rem;
  text-align: center;
  @media (min-width: 500px) {
    font-size: 3.5rem;
  }
  @media (min-width: 900px) {
    font-size: 5rem;
  }
  @media (min-width: 1199px) {
    font-size: 6.5rem;
  }
}

h3 {
  font-size: 2rem;
  @media (min-width: 500px) {
    font-size: 2.5rem;
  }
  @media (min-width: 1137px) {
    font-size: 3rem;
  }
}

h4 {
  font-size: 1.6rem;
  @media (min-width: 500px) {
    font-size: 2rem;
  }
  @media (min-width: 1137px) {
    font-size: 2.4rem;
  }
}

h5 {
  font-size: 1.5rem;
  font-weight: 500;
  text-transform: uppercase;
  margin-bottom: 1.5em;
}

p {
  font-size: 1.4rem;
  @media (min-width: 900px) {
    font-size: 1.5rem;
  }
}

.menu__list li {
  font-size: 2rem;
}
