// COLORS
$basic-peachy: rgb(233, 131, 131);
$basic-yellow: rgb(242, 218, 138);
$main-gradient: linear-gradient(($basic-peachy, $basic-yellow));
$basic-white: #ffffff;
$basic-black: #000000;
$minty: #95e1d3;
$gray: rgb(212, 212, 212);
